.song-filter-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  margin-top: 5%;
  color: rgb(59, 139, 219);
}
.song-filter--songName {
  width: 20%;
  border-right: 2px solid white;
}
.song-filter--artistName {
  margin-left: 2%;
}
