.music-grid__page{
    background-color: #121212;
    color: #fefefe;
    width: 100%;
    height: 150%;
}
.music-grid__page--header{
    background-color: dodgerblue;
    height: 10%;
    position: static;
}